Comments from MSJ

1) "Lead Attester" is not defined anywhere, but used in multiple places.   A paragraph on that role and its responsibilities appears to be necessary.
2) Section 4.2 needs subsections for each of the cases.   At least one diagram has both a caption and free floating identifiers (e.g. "Implementation strategy 4b" vs "Figure 7....") that are indistinguishable from body text. There needs to be a way to differentiate between body text and a title for the various cases and objects.     So a) split Figure 7 into two different figures, b) have a section on "Case 4" with subsections on "Implementation Strategy 4a" and "Implementation Strategy 4b" with the appropriate figures from Figure 7 within the section boundaries.  This is mostly editorial, but needs cleanup for figuring out which text paragraph belongs with which diagram.
4.2 - How to encode
4.2.1 - Case 1 - Single Evidence Bundle
4.2.2 - Case 2 - Single Evidence Bundle with Certificates
4.2.3 - Case 3 - Multiple Evidence Bundles each with complete Paths
4.2.4 - Case 4 - Multiple Evidence Bundles with Certificate Transmission Optimization
4.2.4.1 - Strategy 4a
4.2.4.2 - Strategy 4b.

3) Can Case 1 (where the validator is thought to know some of Case 1's certificates) be encoded as part of Case 4?  I.e., is it legal to have an EvidenceBundle with no certificates as part of any of Case 4?  Or for that matter Case 3?  
4) What knowledge must a "Leader Attester" have to select between each of the cases for encoding?   I.e., pre-configured?, some policy object they got?  Specific guidance from each of the possible validators each wanting the same data formatted in a specific way to make their lives easier?
5) Must a validator that can handle Case 3, must also be able to go looking for certs in other bundles if the chain for a given bundle can't be built for validation?  Or must that be treated as a non-validation error by the validator?
6) May a 4B output contain multiple EvidenceBundles each looking like 4B but with a partially disjoint set of certificates?  The description for 4b looks more like case 3 than a special case of 4.
7) May you mix and match the various cases?  And must a Validator be required to riffle through all the various bundles to find the right mix of certificates to validate a given evidence statement?
Text needs to be written to cover answers for each of these I believe.
8) Evidence Hint appears to be a way to convey type data that's otherwise buried inside of an Evidence Object of identical top-level types.  This seems to be laziness to not require different OIDs for different pseudo-wrapped and typed evidence statements from DICE ConceptualMessageWrapper (the example, but also handwaving other possibilities).  Recommend elimination of this and putting the onus on the post-processing software to do the differentiation if the proponents of these types of objects don't want to request multiple OIDs.  I don't find the arguments for inclusion convincing.  
9) The TPM example needs work, A2.3
9a)  
The structure here needs to be de-OCTET STRING'd.
E.g. 
TpmV2Attest ::= OCTET STRING -- This is formatted as the encoding of <tpmv2 structures, TPMS_ATTEST>.  
                                                        -- This may be any of the valid attestation structures. For a signature over a public key, only a hash of related public key data is included under the signature.
Tpm2InternalSig ::= OCTET STRING -- This is formatted as the encoding of <tpmv2 structures TPMT_SIGNATURE>.  This structure includes the type of signature as well as the actual signature bytes/bits 
Tpm2Public ::= OCTET STRING -- This is formatted as <tpmv2 structures TPMT_PUBLIC>.  This structure includes the type of key as well as the key bytes.  This is the key being signed.

Tcg-csr-certify ::= SEQUENCE {
   tpmSAttest ::= TpmV2Attest,
   tpmSignature :: = Tpm2InternalSig, -- This is the signature returned by a call to TPM2_Certify over the tpmSAttest object.
   tpmTPublic ::= Tpm2Public OPTIONAL -- This is REQUIRED if the attestation is over a public key  (e.g. if TPMS_ATTEST.type == ???) as it's the only way to map from the key being attested to the attestation.
}
9b) tcg-kp-AIKCertificateField????   This is an extended key purpose OID.  There is no field that contains the AIK certificate.  
9c) A2.5.1 - the TPMU_ATTEST field is a Union identified by .type.  The TPMS_CERTIFY_INFO is union value of what's certified for a public key
9d) If you've got TPMU_ATTEST, you need to explain how to get from Tpm2Public (TPMT_PUBLIC) to the value of the attested field.
9e) Sample CSR - how does the lead attester know what software is installed on the validator's side (e.g. package tpmverifier.example.com)?   This implies there needs to be a registry mapping "hints" to something global.  In any event, if you have the OID and you have the structure definitions pointed to that OID, then the Hint is extraneous.  If the validator has multiple ways of resolving a TPMv2 attestation, they're doing it wrong.  Repeat my recommendation to remove hints.
10) Should additional CMS error codes be added for this new extension?  E.g. RFC5272, section 6.1.1 - ExtendedFailInfo.  I don't see how CMCStatus or CMCFailInfo can be extended to cover the possible chaining errors and evidence/validator mismatches.  Ditto for CMP?
Later, Mike


> 1. "Lead Attester" is not defined anywhere,

9334 quasi defines and uses it in examples. The use here is intended to align with 9334 use. Is that not the case / should this reference 9334?

> 10) Should additional CMS error codes be added for this new extension? E.g. RFC5272, section 6.1.1 - ExtendedFailInfo. I don't see how CMCStatus or CMCFailInfo can be extended to cover the possible chaining errors and evidence/validator mismatches. Ditto for CMP?

Possibly, but I think it's scope creep to consider that in this document.

> Can Case 1 (where the validator is thought to know some of Case 1's certificates) be encoded as part of Case 4? I.e., is it legal to have an EvidenceBundle with no certificates as part of any of Case 4? Or for that matter Case 3?

[Hannes] An EvidenceBundle can contain an EvidenceStatement without a certificate. Case 4, however, has multiple Evidence Bundles, which makes it different from Case 1.



> What knowledge must a "Leader Attester" have to select between each of the cases for encoding? I.e., pre-configured?, some policy object they got? Specific guidance from each of the possible validators each wanting the same data formatted in a specific way to make their lives easier?

[Hannes] The design of an Lead Attester is likely the result of developer choice. 


> Must a validator that can handle Case 3, must also be able to go looking for certs in other bundles if the chain for a given bundle can't be built for validation? Or must that be treated as a non-validation error by the validator?


[Hannes] A conformant implementation will have to parse certs in other bundles. This is the downside of us adding this optimization.


. . .
Only addressing item #9 

> 9. The TPM example needs work, A2.3
>    9a)
>    The structure here needs to be de-OCTET STRING'd.
>    E.g.
>    TpmV2Attest ::= OCTET STRING -- This is formatted as the encoding of <tpmv2 structures, TPMS_ATTEST>.
>    -- This may be any of the valid attestation structures. For a signature over a public key, only a hash of related public key data is included under the signature.
>    Tpm2InternalSig ::= OCTET STRING -- This is formatted as the encoding of .  This structure includes the type of signature as well as the actual signature bytes/bits
>    Tpm2Public ::= OCTET STRING -- This is formatted as .  This structure includes the type of key as well as the key bytes.  This is the key being signed.
> 
> Tcg-csr-certify ::= SEQUENCE { tpmSAttest ::= TpmV2Attest, tpmSignature :: = Tpm2InternalSig, -- This is the signature returned by a call to TPM2_Certify over the tpmSAttest object. tpmTPublic ::= Tpm2Public OPTIONAL -- This is REQUIRED if the attestation is over a public key (e.g. if TPMS_ATTEST.type == ???) as it's the only way to map from the key being attested to the attestation. }
MW: We discussed this and decided it would put too much TCG specification into the 
RFC. This can be covered by example code. Regarding tpmTPublic being OPTIONAL. There are use cases where the verifier may already have this information. For example, if key1 was just created at the request of a remote service. The remote service may have kept this structure as it is the exact structure sent during key1's creations. In this case, the remote server just wants to verify that the key's properties it requested are the properties created in the TPM for the key. Requiring this would be redundant especially in small environments.

9b) tcg-kp-AIKCertificateField???? This is an extended key purpose OID. There is no field that contains the AIK certificate.
MW: This is left over from a few changes. I clarified.

9c) A2.5.1 - the TPMU_ATTEST field is a Union identified by .type. The TPMS_CERTIFY_INFO is union value of what's certified for a public key
MW: correct. Again, we decided not to dig too deep into the TPM specification and detailed explanations. Rather we will leave that for examples.

9d) If you've got TPMU_ATTEST, you need to explain how to get from Tpm2Public (TPMT_PUBLIC) to the value of the attested field.
MW: ibid

9e) Sample CSR - how does the lead attester know what software is installed on the validator's side (e.g. package tpmverifier.example.com)? This implies there needs to be a registry mapping "hints" to something global. In any event, if you have the OID and you have the structure definitions pointed to that OID, then the Hint is extraneous. If the validator has multiple ways of resolving a TPMv2 attestation, they're doing it wrong. Repeat my recommendation to remove hints.
MW: This has been discussed over last last few meeting. 
. . .
Thanks, Monty



Both Hannes and Monty have addressed MSJ's comments. Closing.