Editorial comments from Tomas Gustavsson

2. 
CMP is referenced as RFC4210 (section 6.2 Freshness). Is it not time to update the reference to be RFC9810?


Done. 